<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:jdbc="http://www.springframework.org/schema/jdbc"
  xmlns:tx="http://www.springframework.org/schema/tx"
  xmlns:context="http://www.springframework.org/schema/context"
  xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc.xsd   http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">


  <bean id="message" class="springbook.learningtest.factorybean.MessageFactoryBean">
    <property name="text" value="Factory Bean"/>
  </bean>

  <bean id="userDao" class="springbook.user.dao.UserDaoJdbc">
    <property name="dataSource" ref="dataSource"/>
    <property name="sqlService" ref="sqlService"/>
  </bean>

  <bean id="sqlService" class="springbook.user.sqlservice.XmlSqlService">
    <property name="sqlmapFile" value="/sqlmap/sqlmap.xml" />
    <property name="sqlReader" ref="sqlService" />
    <property name="sqlRepository" ref="sqlService" />
  </bean>

  <context:annotation-config/>

  <tx:annotation-driven/>

  <bean id="userService" class="springbook.user.service.UserServiceImpl">
    <property name="userDao" ref="userDao"/>
    <property name="mailSender" ref="mailSender"/>
  </bean>

  <bean id="userServiceImpl" class="springbook.user.service.UserServiceImpl">
    <property name="userDao" ref="userDao"/>
    <property name="mailSender" ref="mailSender"/>
  </bean>

  <bean id="transactionManager"
    class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
    <property name="dataSource" ref="dataSource"/>
  </bean>

  <bean id="dataSource" class="org.springframework.jdbc.datasource.SimpleDriverDataSource">
    <property name="driverClass" value="com.mysql.cj.jdbc.Driver"/>
    <property name="url"
      value="jdbc:mysql://127.0.0.1:3306/book?useSSL=false&amp;serverTimezone=Asia/Seoul"/>
    <property name="username" value="root"/>
    <property name="password" value="1234"/>
  </bean>
  <bean id="mailSender" class="springbook.user.service.DummyMailSender"/>

  <bean id="testUserService" class="springbook.user.service.TestUserService"
    parent="userService"/>
</beans>