<component name="ArtifactManager">
  <artifact type="exploded-war" name="springbook:war exploded">
    <output-path>$PROJECT_DIR$/out/artifacts/springbook_war_exploded</output-path>
    <root id="root">
      <element id="javaee-facet-resources" facet="springbook/web/Web" />
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="springbook" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="h2-1.4.199" />
          <element id="library" level="project" name="Java EE 6-Java EE 6" />
          <element id="library" level="project" name="jaxb-api" />
          <element id="library" level="project" name="mysql-connector-java-8.0.20" />
          <element id="library" level="project" name="Maven: org.slf4j:slf4j-api:1.6.0" />
          <element id="library" level="project" name="com.springsource.antlr-2.7.7" />
        </element>
      </element>
    </root>
  </artifact>
</component>